<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script data-main="/scripts/main" src="/scripts/libs/require-jquery.js"></script>
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
